In [3]:
data= pd.read_csv('Advertising.csv') # Reading the data file

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [7]:
nums = np.random.rand(len(data))
mask_suburban = (nums > 0.33) & (nums < 0.66)
mask_urban = nums > 0.66
data['Targeted Geography'] = 'rural'
data.loc[mask_suburban, 'Targeted Geography'] = 'suburban'
data.loc[mask_urban, 'Targeted Geography'] = 'urban'
data.head()

   Unnamed: 0     TV  radio  newspaper  sales Targeted Geography
0           1  230.1   37.8       69.2   22.1              rural
1           2   44.5   39.3       45.1   10.4           suburban
2           3   17.2   45.9       69.3    9.3              rural
3           4  151.5   41.3       58.5   18.5           suburban
4           5  180.8   10.8       58.4   12.9              urban

In [8]:
area_dummies = pd.get_dummies(data['Targeted Geography'], prefix='Targeted Geography')

In [9]:
area_dummies

,Targeted Geography_rural,Targeted Geography_suburban,Targeted Geography_urban
0,1,0,0
1,0,1,0
2,1,0,0
3,0,1,0
4,0,0,1
5,1,0,0
6,0,0,1
7,0,0,1
8,0,1,0
9,0,0,1
10,0,1,0
11,0,0,1
12,1,0,0
13,0,0,1
14,0,0,1
15,1,0,0
16,0,1,0
17,0,1,0
18,0,0,1
19,1,0,0
20,0,1,0
21,0,1,0
22,1,0,0
23,1,0,0
24,1,0,0
25,0,0,1
26,1,0,0
27,1,0,0
28,1,0,0
29,0,0,1
...,...,...,...
170,1,0,0
171,0,0,1
172,0,0,1
173,0,1,0
174,1,0,0
175,1,0,0
176,0,0,1
177,1,0,0
178,1,0,0
179,1,0,0
180,1,0,0
181,1,0,0
182,0,1,0
183,0,1,0
184,0,0,1
185,0,0,1
186,0,0,1
187,1,0,0
188,0,1,0
189,1,0,0
190,0,1,0
191,1,0,0
192,0,1,0
193,1,0,0
194,0,1,0
195,0,1,0
196,0,0,1
197,0,0,1
198,0,0,1
199,1,0,0

In [10]:
area_dummies = pd.get_dummies(data['Targeted Geography'], prefix='Targeted Geography').iloc[:,1:]

In [11]:
area_dummies

     Targeted Geography_suburban  Targeted Geography_urban
0                              0                         0
1                              1                         0
2                              0                         0
3                              1                         0
4                              0                         1
5                              0                         0
6                              0                         1
7                              0                         1
8                              1                         0
9                              0                         1
10                             1                         0
11                             0                         1
12                             0                         0
13                             0                         1
14                             0                         1
15                             0                         0
16                             1                         0
17                             1                         0
18                             0                         1
19                             0                         0
20                             1                         0
21                             1                         0
22                             0                         0
23                             0                         0
24                             0                         0
25                             0                         1
26                             0                         0
27                             0                         0
28                             0                         0
29                             0                         1
..                           ...                       ...
170                            0                         0
171                            0                         1
172                            0                         1
173                            1                         0
174                            0                         0
175                            0                         0
176                            0                         1
177                            0                         0
178                            0                         0
179                            0                         0
180                            0                         0
181                            0                         0
182                            1                         0
183                            1                         0
184                            0                         1
185                            0                         1
186                            0                         1
187                            0                         0
188                            1                         0
189                            0                         0
190                            1                         0
191                            0                         0
192                            1                         0
193                            0                         0
194                            1                         0
195                            1                         0
196                            0                         1
197                            0                         1
198                            0                         1
199                            0                         0

[200 rows x 2 columns]